/* 
    General Styles
*/
  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:wght@100;300;400&display=swap');
  
  :root{
    --bs-sand: rgba(235, 207, 166, 0.932);
    --logo: rgb(217 179 130);
    --semi-bold: 600;
    --semiBlack: #fff0

  }
  *{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  .body{
    text-transform: uppercase !important;

  }
  .linkStyle, .linkStyle-slidePrincipal{
    text-decoration: none;
    color:rgb(21, 21, 24);
    transition: all 1s;

  }
  .linkStyle :hover{
     color:rgb(231, 7, 130);
     transition: all 0.2s;

  }
  .linkStyle-slidePrincipal:hover{
    color:rgb(250, 249, 248);
    transition: all 1s;

 }
 .logo{
    /* font-family: 'Libre Baskerville', serif; */
    font-family: auto;
    font-weight: bolder;
    text-decoration: none;
    color:  rgb(217 179 130);
    margin-left: 4%;
    position: relative;
    top: auto;
  }
  .logo-wrap{
    color:  rgb(217 179 130);
  }
/* .logo::after{
    content: "estilo moderno, espiritu urbano";
    text-transform: uppercase;
    display: block;

    font-size: 8%;
    font-weight: lighter;
    margin-left: 4%;
    position: absolute;    
    top: 1;

} */
.nav-iconos{
    margin-right: 1;
}
.nav-search-form{
    font-size: small !important;
    font-weight: lighter !important;
    background-color: #fff0 !important;
    border: 1px solid transparent !important;
}
.nav-despacho{
    background-color: var(--bs-sand);
    place-items: center;
    display: grid;
    font-weight: lighter;
    margin-top: 0;
    padding: 0.7%;

}
.nav-categorias {
    justify-content: space-evenly;
    align-content: center;
    display: flex;
    font-weight: lighter;
    margin-top: 0; 
    border: solid 0.5px rgba(177, 176, 176, 0.603);
    padding: 0.7%;
}
/* .carousel-inner{
height: 450px;
} */
.carousel-item img{
    object-fit: cover !important;
    max-width: 100%;
    height: 25em;
}
.sale{
        /* background-color: var(--bs-sand); */
        top: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        width: 40%;
        margin-left: 15%;
        display: grid;
        place-content: center;
        /* transition: width 2s, height 4s; */
        transition: 2s   
}
.sale-slidePrincipal{
        transition: 0.5s;

}
.sale-slidePrincipal:hover{
    transition: 0.5s;
    font-size: 3rem;
    transition: 1s   

}
.test2:hover{
    transition: 0.5s;
    font-size: 3rem;
}
.test{
    background-color: var(--bs-sand);
    top: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: 15%;
    display: grid;
    place-content: center
}
.carousel-item .cards .cards-slide{
    height: 550px !important;
}
.colection{
    background-color: var(--bs-sand);
}
.colection img{
    height: 400px;
    object-fit: cover;
}
.card-body {
    flex: 1 1 auto;
    padding: 0.2rem;
    font-size: xx-small;}
.dropdown-toggle::after{
    display: none !important;
}
.dropdown-item{
    font-weight: lighter;
    font-size: smaller;
}
.deliveryview{
    height: 60vh;
    place-content: center;
    place-items: center;
}
.seguimientoPedidoIcono{
    font-size: 8.5rem;
    color: burlywood;
}
.boton-pag{
    background-color: burlywood;
}
input{
    border-radius: 0 !important;
}
.card{
    border-radius: 0;
}
.perfilWrapper{
    display: grid;
    height: 60vh;
    justify-content: start;
    padding: 4rem;
    /* position: relative;
    top: 2rem; */
}
.card-coleccion{
    height: 300em;
}
.form-logIn{
    min-width: 18.125rem;
}
.form-logIn input{
    border-radius: 0;
    border: solid black 1px;
    padding: 0.5em;
}
.form-register input{
    border-top: 0;
    border-left: 0;
    border-right: 0;    
    border-radius: 0;
    border-bottom: solid black 1px;
    padding: 0.5em;

}
.form-register button{
    background: burlywood;
    border: none;
    color: black;}
.btn{
    border-radius: 0 !important;
}
.dropdown-menu h3{
    font-weight: var(--semi-bold);
    font-size: larger;
}
/* .card-carrito-img-container img{

} */
.carrito-icono {
    font-size: x-large;
}
.offcanvas h6{
    font-weight: 400;
}
.card img{
    border-radius: 0 !important;
}
.footer{
    background: rgb(24, 23, 23);
    color: darkgrey;
}
.rrss-Opal{
    background: burlywood;
    color: black!important;
}