/* 
    General Styles
*/
  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:wght@100;300;400&display=swap');
  
  :root{
    --bs-sand: rgba(235, 207, 166, 0.932);
    --logo: rgb(217 179 130);


  }
  .body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
  .logo{
    /* font-family: 'Libre Baskerville', serif; */
    font-family: auto;
    font-weight: bolder;
    text-decoration: none;
    color:  rgb(217 179 130);
    margin-left: 4%;
}
.logo-wrap{
    color:  rgb(217 179 130);
}
.logo::after{
    content: "estilo moderno, espiritu urbano";
    text-transform: uppercase;
    display: block;
    font-size: 13%;
    margin-left: 4%;

}
.nav-iconos{
    margin-right: 1;
}
.nav-search-form{
    font-size: small !important;
    font-weight: lighter !important;
    background-color: #fff0 !important;
    border: 1px solid transparent !important;
}
   .nav-despacho{
    background-color: var(--bs-sand);
    place-items: center;
    display: grid;
    font-weight: lighter;
    margin-top: 0;
    padding: 0.7%;

}
.nav-categorias {
    justify-content: space-evenly;
    align-content: center;
    display: flex;
    font-weight: lighter;
    margin-top: 0; 
    border: solid 0.5px rgba(177, 176, 176, 0.603);
    padding: 0.7%;
}